.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.drum-machine {
  display: flex;
  width: 50vw;
  flex-direction: row-reverse;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 5px solid #fff;
  box-shadow: 5px 5px 15px 5px #b22222;
}
.drum-pads {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 0.5rem;
  
}
.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  border: 1px solid black;
  box-shadow: 5px 5px;
  background-color: rgba(25,25,112, 0.1);
  user-select: none;
  border-radius: 10px;
}
.drum-pad:hover {
  cursor: pointer;
}
.assignature {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}
.controls{
  display: flex;
  width: 50%;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.display{
border: 1px solid #b22222;
display: inline;
width: 50%;
height: 20px;
padding: 0.5rem;
text-align: center;
background-color: #fff;
}
.activeKey{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  border: 1px solid black;
  box-shadow: 5px 5px;
  user-select: none;
  background-color: #b22222;
  box-shadow: 5px 5px 15px 5px #b22222;
  border-radius: 10px;
}
[type="range"]{
appearance: none;
transform: scale(1);
outline: none;
background-color: #fff;
border-radius: 10px;
width: 100%;
padding: 0.5rem;
}
[type="range"]::-moz-range-thumb{
  appearance: none;
 background-color: black;


}
[type="range"]::-webkit-slider-thumb{
  appearance: none;
 background-color: #001;
 

}
[type="range"]::-moz-range-progress{
  appearance: none;
 background-color: #b22222;
height: 0.5rem;

}